header {
    text-align: center;
    margin: 20px 0;
}
h1 {
    font-size: 5em; 
    font-weight: bold;
    margin-top: 20px;
    margin-left: 0px;
    padding-bottom: 10px; 
    border-bottom: 2px solid #8C19FF; 
}

h2 {
    font-size: 3em; 
    font-style: italic;
    margin-top: 10px; 
    margin-left: 0px;
}
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
	color: #ffffff;
	background:white url(https://climate.nasa.gov/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBam91IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--ff94817ad208ae48b26608ffb5d5ce1af0379e0a/water.jpg?disposition=inline);
    background-size: cover;
	margin: 350px;
    padding: 40px;
    text-align: left; 
}

#zen-supporting {
    padding: 20px;
    background-color: rgba(39, 3, 68, 0.386); 
    border-radius: 20px;
}
.sidebar {
    position: absolute;
    top: 600px;
    left: 0;
    padding: 20px;
    margin: 50px;
    width: 250px;
    background:linear-gradient(#04070700, #6511b3);   
    display: inline; 
    border: 3px solid transparent;
    border-radius: 20px;
    
}
a {
    color: #fbd8f1; 
    text-decoration: none;
}

a:hover {
    color: #ff1ac2; 
    text-decoration: underline;
}
footer{
    
    padding: 40px;
    background: linear-gradient(#35a3a381, #aa5af5);
    text-align: center;
}
.design-selection li {
    margin-bottom: 10px;
}
.design-name {
    font-weight: bold;
    color: #dab9f9;
}
