
h1 {
    font-size: 5em; 
    font-weight: bold;
    margin-top: 10px;
    margin-left: -70px;
    border-bottom: 10px solid #8C19FF; 
}


h2 {
    font-size: 2em; 
    font-style: italic;
    margin-top: 0px; 
    margin-left: -70px;
}
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
	color: #000000;
	background: #cfd15ce4;
	margin: 400px;
    padding: 10px;
    text-align: left;
}

.sidebar {
    position: absolute;
    top: 600px;
    left: 0;
    padding: 10;
    margin: 50px;
    width: 250px;
    background:#a455f3;
    display: inline; 
    border: 2px solid #8C19FF;
    border-radius: 20px;
    
}
a {
    color: #000000; 
    text-decoration: none;
}

a:hover {
    color: #ff1ac2; 
    text-decoration: underline;
}
footer{
    width: 600px;
    padding-left: 50px ;
    padding-right: 20px;
    padding-bottom: 4px;
    background: #b56bff;
}